@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  font-family: "DM Sans", sans-serif;
  background-color: black
}


.testb {
  @apply border border-white;
}

.testc {
  @apply bg-red-400;
}

p {
  color: white;
}

.wrapper {
  @apply max-w-[3000px] mx-auto;
}

.h-margin {
  @apply md:mx-56;
}

.vertical-space{
  @apply space-y-10
}
