@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
  background-color: #090909;
  color: white;
}

.testb {
  @apply border border-white;
}

.testc {
  @apply bg-red-400;
}

.heading {
  @apply lg:text-[41px] text-[35px] font-bold;
}

.heading-2 {
  @apply text-secondary underline;
}

.wrapper {
  @apply container max-w-[3000px] mx-auto space-y-28;
}

.child-wrapper {
  @apply max-w-6xl mx-auto;
}

.text-decoration {
  @apply text-center lg:text-left;
}

.img-container {
  @apply mx-auto lg:mx-0;
}

.vertical-space {
  @apply space-y-10 lg:space-y-0;
}

.progress-text {
  @apply font-semibold tracking-wider;
}
